* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #494848;
}

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px 55px;
  background-color: #fff;
}

.heading {
  margin-bottom: 15px;
  font-size: 36px;
  color: #1395eb8c;
  text-align: center;
}

.message {
  text-align: center;
  font-size: 26px;
  color: orangered;
}

.strikethrough {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.btn {
  display: inline-flex;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.btn i {
  font-size: 35px;
  color: #1395eb8c;
  transition: all .4s; 
}

.btn:hover i {
  color: #2470fd;
}

.addTodo i {
  font-size: 45px;
  color: #818181b2;
}

.delete {
  margin-left: auto;
}

#list {
  margin-top: 20px;
}

.todoActionForm, 
.todoItem {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

input {
  width: 30%;
  padding: 5px;
  margin-right: 10px;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.todoActionForm input {
  width: 100%;
  padding: 12px;
}

.todoItem input {
  display: none;
}

.todoItem label {
  padding: 0 10px;
}

li.editNow input {
  display: block;
}

li.editNow label, 
li.editNow .checkbox {
  display: none;
}
hr {
  margin-top: 10px;
  size: 15px;
  border: none;
  background-color: #1395eb8c;
  height: 10px;
}