$bgImage: url("/FL11_HW3/homework/img/m-h-day.jpg");
$bgcolor: #fff;
$headerColor: #000;
$buttonColor: #699900;
$lineColor: #14A0C7;
$headerFont: 'Source Sans Pro', sans-serif;
$decorFont: 'Hind', sans-serif;
$decoreTextColor: #C0C3CE;