$bgImage: url("/FL11_HW3/homework/img/m-h-night.jpg");
$bgcolor: #000;
$headerColor: #fff;
$buttonColor: #E3AC00;
$lineColor: #FF4E33;
$headerFont: 'Source Sans Pro', sans-serif;
$decorFont: 'Fresca', sans-serif;
$decoreTextColor: #C0C3CE;